@media (min-width: 586px) {
    html {
        font-size: 14px;
    }
    
    .notes-list {
        columns: 2;
    }

    .appsus-container {
        flex-direction: row;
    }

    .appsus-container div {
        width: 40%;
    }

    .missKeep-container input {
        width: 60%;
    }

    .add-note-btns button {
        width: 22%;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .notes-list {
        columns: 3;
    }

    .missKeep-container input {
        width: 50%;
    }

    .add-note-btns button {
        width: 20%;
    }
}