@media (min-width: 586px) {
    html {
        font-size: 14px;
    }
    
    .notes-list {
        columns: 2;
    }

    .appsus-container {
        flex-direction: row;
    }

    .appsus-container div {
        width: 40%;
    }

    .missKeep-container input {
        width: 60%;
    }

    .add-note-btns {
        flex-direction: row;
    }

    .add-note-btns button {
        width: 30%;
    }

    nav button {
        margin: 12px;
    }

    .new-img-container form {
        flex-direction: row;
    }

    .new-img-container form input {
        margin-right: 10px;
    }

    .new-img-container form button, .new-img-container form label {
        padding: 6px 10px;
    }

    .user-msg {
        width: 400px;
    }
    .note-btns {
        margin: 20px 0;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .notes-list {
        columns: 3;
    }

    .missKeep-container input {
        width: 50%;
    }

    .add-note-btns button {
        width: 25%;
    }
    
    .img-edit-container {
        flex-direction: row;
    }

    .uploaded-img-container {
        max-width: 70%;
    }

    .nav-btn, nav button {
        display: none;
    }

    nav {
        flex-direction: row;
        position: initial;
        height: inherit;
    }

    nav .router-link {
        border: none;
        padding: 20px;
        width: 140px;
    }

    .new-img-container form button, .new-img-container form label {
        width: 100px;
        padding: 4px 10px;
    }

    .new-text-container,  .new-img-container, .new-todo-container {
        width: 70vw;
    }

    .img-edit-container img {
        max-height: 550px;
    }

    .img-text-container {
        padding-block-end: 20px;
        margin-left: 10px;
    }

    .new-text-container .note-title, .new-img-container .note-title, .new-todo-container .note-title {
        margin: 15px 0;
    }

    .img-edit-container img {
        margin: 20px 0;
    }
}