@import 'list.css';
@import 'notes.css';
@import 'img-note.css';
@import 'text-note.css';
@import 'todo-note.css';
@import 'media-queries.css';

.missKeep-container {
    display: flex;
    flex-direction: column;
}

.missKeep-container input {
    /* width: 90%; */
    align-self: center;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid black;
    font-family: inherit;
}

.add-note-btns {
    align-self: center;
    margin: 20px 0;
}

.add-note-btns p {
    display: inline;
}

.add-note-btns button {
    cursor: pointer;
    padding: 5px 10px;
    font-family: inherit;
    background-color: rgb(7, 167, 20);
    color: white;
    border: 1px solid black;
    border-radius: 5000px;
    transition: .3s;
}

.add-note-btns button:hover {
    background-color: rgb(7, 59, 0);
    /* color: rgb(37, 37, 37); */
}